.gifViewContainer {
    width: 50%;
    height: 10%;
    margin-left: 25%;
    margin-top: 10%;
}

.gifViewDivParent {
    width: 100%;
    height: 100%;
}

.gifViewDiv {
    width: 100%;
    height: 100%;
}

.gifViewImg {
    width: 100%;
    height: auto;
}