.containerHome {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    display: grid;  
    grid-gap: 5px;  
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));   
}

.containerHome > div {  
    width: 100%;  
    height: 100%;  
    object-fit: cover;  
}

.divFormHome {
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
}