.containerDivList {
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    display: grid;  
    grid-gap: 10px;  
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}